* {
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn-primary {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.primary-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    max-width: 288px;
}

/* banner releted styles */
.banner {
    background-image: url("../images/banner/banner3.png");
    background-color: rgb(101, 101, 215);
    min-height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 140px;
}

.banner-content {
    margin: 0 230px 166px auto;
    text-align: right;
    padding-top: 216px;
}

.banner-heading {
    color: #faf1f1;
    font-size: 65px;
    font-weight: 700;
    max-width: 525px;
    margin-left: auto;
    margin-bottom: 24px;
}

.banner-descript {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    max-width: 494px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 32px;
}

/* My failures of previous year releted styles */
.failures-contaner {
    display: flex;
    align-items: center;
    border: 1px solid;
    max-width: 70%;
    margin: 0 auto;
    gap: 134px;
    margin-bottom: 187px;
}

.person-img {
    border: 1px solid blue;
}

.person-details {
    border: 1px solid yellow;
}

.person-details p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 416px;
}

.person-details ul {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.person-details h3,
p {
    margin-bottom: 24px;
}

/* my-plans section styles */
.plans{
    border: 2px solid red;
}

.plans h3{
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 53px;
}

.my-plans{
    display: flex;
    justify-content: space-around;
}